<!DOCTYPE html>
<head>

    <title>Back End</title>
<link rel="stylesheet" href="css/style.css"></head>
<body>

<h2></h2>
<form id="form1">
<input type="text" placeholder="Enter Country" id="address">
<button>Search</button>
</form>
<h2 id="titlef1">Welcome to Weather App</h2>
<h2 id="titlef2">Please Enter country name to know its weather , Longtitude and latitude.</h2>
<p id="location"></p>
<p id="forecast"></p>
<p id="longtitude"></p>
<p id="latitude"></p>
<p id="error"></p>

<script src="script/script.js"></script>
</body>
</html>