<!DOCTYPE html>
<head>

    <title>Back End</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="footer">
        <p>Author: Mohamed Emad</p>
     <p>E-mail: 01062977683mohamed@gmail.com</p>
  </div>

</body>
</html>